<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investigation Form</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
      .form-check{
        display: flex;
        flex-direction: row;
        align-items: center;
      } 
      .form-check-input {
        margin-top: 0.2rem;
      }
    </style>{
   
</head>
<body>
  <div class="container mt-3">
    <form method='POST' action='/form'>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>What's the problem today?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="problem" id="problem1" value="option1">
              <label class="form-check-label" for="problem1">
                stolen car
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="problem" id="problem2" value="option2">
              <label class="form-check-label" for="problem2">
                stolen cycle
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>Was it locked?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="locked" id="locked1" value="option1">
              <label class="form-check-label" for="locked1">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="locked" id="locked2" value="option2">
              <label class="form-check-label" for="locked2">
                No
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>When did it happen?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="time" id="time1" value="option1">
              <label class="form-check-label" for="time1">
                Few hours ago
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="time" id="time2" value="option2">
              <label class="form-check-label" for="time2">
                Couple of days ago
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="time" id="time3" value="option3">
              <label class="form-check-label" for="time3">
                Few days ago
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>Has anyone been injured?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="injured" id="injured1" value="option1">
              <label class="form-check-label" for="injured1">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="injured" id="injured2" value="option2">
              <label class="form-check-label" for="injured2">
                No
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>Where was the stolen item located?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="location" id="location1" value="option1">
              <label class="form-check-label" for="location1">
                Within garage
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="location" id="location2" value="option2">
              <label class="form-check-label" for="location2">
                Public place
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="location" id="location3" value="option3">
              <label class="form-check-label" for="location3">
                Within secured carpark
              </label>
            </div>
          </div>
        </div>
        
        <div class="col-4"> 
          <div class="form-group">
            <label>Were there incidence of multiple bick or car stolen?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="incidence" id="incidence1" value="option1">
              <label class="form-check-label" for="incidence1">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="incidence" id="incidence2" value="option2">
              <label class="form-check-label" for="incidence2">
                No
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>How are you feeling now?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="feeling" id="feeling1" value="option1">
              <label class="form-check-label" for="feeling1">
                Nervous
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="feeling" id="feeling2" value="option2">
              <label class="form-check-label" for="feeling2">
                Shocked
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="feeling" id="feeling3" value="option3">
              <label class="form-check-label" for="feeling3">
                Angry
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="feeling" id="feeling4" value="option4">
              <label class="form-check-label" for="feeling4">
                Sad
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>Has anyone witnessed today?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="witness" id="witness1" value="option1">
              <label class="form-check-label" for="witness1">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="witness" id="witness2" value="option2">
              <label class="form-check-label" for="witness2">
                No
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>Were there a CCTV recoding device nearby?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="recording" id="recording1" value="option1">
              <label class="form-check-label" for="recording1">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="recording" id="recording2" value="option2">
              <label class="form-check-label" for="recording2">
                No
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="otherinformation">Anything else wish to say?</label>
            <textarea name="otherinfo" class="form-control" id="otherinformation" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="age">How old are you?</label>
            <input name="age" class="form-control" id="age" />
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="occupation">What's your occupation?</label>
            <input type="text" name="occupation" class="form-control" id="occupation" />
          </div>

          <label>Name</label>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="firstname" class="form-control" id="firstname">
              <label for="firstname">First Name</label>
            </div>
            <div class="form-group col-md-6">
              <input type="text" name="lastname" class="form-control" id="lastname">
              <label for="lastname">Last Name</label>
            </div>
          </div>
          <label>Address</label>
          <div class="form-group">
            <input type="text" name="addr1" class="form-control" id="address1" />
            <label for="address1">Street Address</label>
          </div>

          <div class="form-group">
            <input type="text" name="addr2" class="form-control" id="address2" />
            <label for="address2">Street Address Line2</label>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="city" class="form-control" id="city" />
              <label for="city">City</label>
            </div>
            <div class="form-group col-md-6">
              <select name="state" id="state" class="form-control">
                <option value="Choose">Choose...</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
              <label for="state">State / Province</label>
            </div>
          </div>

          <div class="form-group">
            <input type="text" name="zip" class="form-control" id="zip" />
            <label for="zip">Postal / Zip Code</label>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class="col-6 offset-3 text-center mt-3">
          <button class="btn btn-primary" type='submit'>Submit</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>